name: Build and Push Engelsystem
on:
  push:
    tags:
      - 'v.*'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout upstream engelsystem
        uses: actions/checkout@v4
        with:
          repository: engelsystem/engelsystem
          ref: ${{ github.ref_name }} # Versucht, den gleichen Tag/Branch wie im Trigger-Event auszuchecken

      - name: Log in to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          context: .
          file: docker/Dockerfile
          push: true
          tags: ghcr.io/${{ github.repository_owner }}/engelsystem:${{ github.ref_name }}