name: Build and Push Engelsystem
on:
  push:
    tags:
      - 'v.*'
  workflow_dispatch:
    inputs:
      version:
        description: 'Engelsystem Version (Tag/Branch) to build'
        required: true
        default: 'main'

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout upstream engelsystem
        uses: actions/checkout@v4
        with:
          repository: engelsystem/engelsystem
          ref: ${{ inputs.version || github.ref_name }}

      - name: Debug - List files
        run: ls -laR
        continue-on-error: true

      - name: Log in to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          context: .
          file: docker/Dockerfile
          push: true
          tags: |
            ghcr.io/${{ github.repository_owner }}/engelsystem:${{ inputs.version || github.ref_name }}
            ghcr.io/${{ github.repository_owner }}/engelsystem:${{ inputs.version || github.ref_name }}-build.${{ github.run_number }}